* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
    url("../fonts/fraunces-v10-latin-900.woff") format("woff");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/barlow-v11-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v11-latin-700.woff2") format("woff2"),
    url("../fonts/barlow-v11-latin-700.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Barlow", Arial, sans-serif;
  font-style: 16px;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces";
  font-style: normal;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

img {
  display: block;
}
.wrapper {
  display: flex;
  max-width: 1112px;
  margin-right: auto;
}
.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 20px;
}
header {
  padding-top: 45px;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-bottom: 10px;
  margin-bottom: 25px;
  background-color: #fefcf7;
}
.header {
  padding: 0;
}
.header-logo-link {
  transition: all 0.4s linear;
}
.header-logo-link:hover {
  opacity: 0.6;
}
.header-logo-link:active {
  opacity: 0.9;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.header-navlink-container {
  display: flex;
}
.link-item {
  margin-left: 32px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  font-size: 12px;
  color: #83888f;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.link-item:hover {
  color: #333d4b;
}
.link-item:active {
  color: #2a323d;
}
.home-active {
  margin-left: 32px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  color: #333d4b;
}
.intro {
  margin-top: 0;
  padding-top: 0;
}
.intro-container {
  background-image: url(/images/home/svg/Bitmap.svg);
  border-radius: 10px;
  padding: 117px 88px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 136px;
}
.intro-content {
  width: 493px;
}
.intro-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin-bottom: 32px;
}
.intro-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #fefcf7;
  margin-bottom: 56px;
  width: 385px;
  opacity: 0.8;
}
.blue-link {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  width: 217px;
  height: 56px;
  padding: 15px 31px;
  background-color: #0e8784;
  border-radius: 6px;
  color: #fefcf7;
  transition: all 0.5s ease;
}
.blue-link:hover {
  background-color: #66d2cf;
}
.blue-link:active {
  color: #010031;
}

.instructions {
  padding: 0;
  margin-bottom: 200px;
}
.instructions-title {
  font-weight: 900;
  font-style: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 80px;
}
.wrapper-line1 {
  width: 790px;
  height: 31px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 67px;
}
.wrapper-line {
  display: flex;
  margin-left: 15px;
  margin-top: 13px;
  z-index: 2;
  width: 757px;
  height: 1px;
  background-color: #fdd6ba;
  border: 1px solid #fdd6ba;
  position: absolute;
}
.instruction-round1 {
  position: relative;
  margin-bottom: 5px;
  z-index: 10;
  width: 31px;
  height: 31px;
  box-sizing: border-box;
  border: 2px solid #0e8784;
  border-radius: 50%;
}
.instruction-round2 {
  position: relative;
  margin-bottom: 5px;
  z-index: 10;
  width: 31px;
  height: 31px;
  box-sizing: border-box;
  border: 2px solid #0e8784;
  border-radius: 50%;
}
.instruction-round3 {
  position: relative;
  margin-bottom: 5px;
  z-index: 10;
  width: 31px;
  height: 31px;
  box-sizing: border-box;
  border: 2px solid #0e8784;
  border-radius: 50%;
}
.instractions-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}
.instractions-item {
  height: 355px;
  width: 285px;
  margin-right: 96px;
}
.numofinstraction {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  margin-bottom: 38px;
}
.instraction-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  width: 200px;
  margin-bottom: 42px;
}
.instraction-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 285px;
}
footer {
  padding-top: 45px;
  bottom: 0;
  padding-bottom: 30px;
  background-color: #2c343e;
}
.footer-logo-link {
  transition: all 0.4s linear;
  margin-right: 71px;
}
.footer-logo-link:hover {
  opacity: 0.6;
}
.footer-logo-link:active {
  opacity: 0.9;
}
.footer-navbar {
  display: flex;
}
.footer-navlink-container {
  display: flex;
}
.footer-link-item {
  margin-left: 32px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  font-size: 12px;
  color: #83888f;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.footer-link-item:hover {
  color: #0e8784;
}
.footer-link-item:active {
  color: #ffffff;
}
.footer-addreses {
  display: flex;
  margin-left: auto;
  flex-direction: row;
}
.footer-addres-item {
  margin-right: 24px;
  transition: all 0.5s ease;
}
.footer-addres-item:hover {
  opacity: 0.8;
}
.footer-addres-item:active {
  opacity: 0.5;
}
.about-instructions {
  padding: 0;
  margin: 0;
}
.about-instractions-item {
  height: 355px;
  margin-right: 200px;
}
.about-mape-img {
  margin-bottom: 46px;
}
.about-instraction-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 24px;
}
.about-details {
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #333d4b;
  margin-bottom: 7px;
}

.create-intro {
  background-image: url(/images/create/svg/create-intro-bg.svg);
  border-radius: 10px;
  padding: 117px 88px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 170px;
}
.create-instructions {
  background-color: #2c343e;
  height: 650px;
  border-radius: 10px;
  padding: 91px 85px;
}
.create-instraction-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #fefcf7;
  width: 200px;
  margin-bottom: 42px;
}
.create-instraction-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #fefcf7;
  width: 280px;
}
